body{background-color: darkseagreen; font-family: arial;}
h1{text-align: center; color: darkgreen}

.ingredientes, .preparo{background-color: lightcyan; height: 400px; }
.ingredientes > h2, .preparo > h2{background-color: green; color:white; text-align: center;padding: 10px;}

.ingredientes ul li, .preparo ol li{font-size: 18px; line-height: 0.8cm;}

/* ::selection é uma pseudoclasse que irá alterar a cor de seleçãodo texto no site */
::selection{background-color: chartreuse;}
